.swipe-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  margin: 10px 0;
}

/* fondo rojo */
.swipe-bg {
  position: absolute;
  inset: 0;
  background: #ff3b30;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-right: 20px;
  color: white;
  font-weight: 600;

  opacity: 0;
  transition: opacity 0.2s ease;
}

/* tarjeta */
.item {
  background: white;
  padding: 16px;
  border-radius: 14px;

  position: relative;
  z-index: 2;

  transition: transform 0.15s ease;
  will-change: transform;
}
