.nav-footer{
  display: flex;
  background-color: rgb(255, 219, 252);
  width: 100%;
  position: absolute;
  top: 95%;
  justify-content: space-around;
  height: 5vh;
  padding: 1vh;
}

.nav-footer span{
      align-self: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hidden{
    display:none !important;
}
