.nav-footer{
  display: flex;
  background-color: rgb(255, 219, 252);
  width: 100%;
  position: absolute;
  top: 91%;
  justify-content: space-around;
  height: 5vh;
  padding: 1vh;
}

.nav-footer span{
      align-self: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hidden{
    display:none !important;
}


.button-anadir-alimento{

    position: fixed;

    right: 30px;
    bottom: 100px;

    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    background: #007AFF;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 300;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0,0,0,.2);

    transition: .2s;

    z-index: 1000;
}


.button-anadir-alimento:active{
    transform: scale(.95);
}

.pantalla{
  height: 86vh;
  width: 93%;
  position: absolute;
  top: 5vh;
  padding: 2vh;
}